/*CSS reset kindly provided by piccalil.li */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}








:root {
  --color-1: #040710;
  --color-2: #00163d;
  --color-3: #023064;
  --color-4: #6e9bc5;
  --color-5: #d2e3ee;
  --color-6: #ce6c3b;
}

@font-face {
  font-family: roboto-bold;
  src: "Roboto-Bold.ttf";
}

html {
  color: var(--color-2);
  background-color: aliceblue;
  font-size: 80%;
  scroll-behavior: smooth;
  font-family: 'Times New Roman', Times, serif
}

.nav-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("Assets/img/2370612355_6f54b216ae_o.jpg");
  /* background-position: center; */
  background-repeat: repeat;
  position: relative;
}

.navbar {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #E2E8F0;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-1);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style-type: none;
 text-decoration: none;
  margin-left: 5rem;
}

.nav-link{
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.6rem;
  color: var(--color-3);
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: bolder;
  color: var(--color-3);
}

/* 
.nav {


}

.nav ul {
  
  display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
  text-align: center;
  width: 100%; 
display: flex;
background-color: var(--color-3);

}

.nav-links {
  background-color: var(--color-4);
  font-weight: bolder;

  margin-right: 1rem;
  padding: 1rem;
  list-style-type: none;
  font-size: 2rem;
}

.nav-links a {
  color: var(--color-3);
}

.nav-links:hover {
  background-color: var(--color-6);
} */

.hero-container {
  color: aliceblue;
  box-shadow: 2rem 2  rem 1rem var(--color-2);
  font-weight: 400;
  max-width: 100rem;
  /* padding: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.hero {
  /* background-color: rgba(0, 0, 0, 0.4); */
  font-size: 3vw;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding: 1rem;
  transition:cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: 2s;
}

.h2-hero {
  font-size: 5vw;
 }

.hero-p {
  font-size: 2vw;
  
}

.skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.skills h2 { 
  background-color: var(--color-2);
  color: aliceblue;
text-align: center;
}

.skills p {
  font-weight: bolder;
  margin: 1em;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2.5rem;
  background-color: var(--color-6);
}

.icon {
  width: 45%;
}

/* .skills {
  background-color: rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  width: 90%;
  margin: 1rem;
  padding: 1rem;
}
.skills-container{
  display: flex;
 font-size: 1rem;
}

.skills-ul {
  display: flex;
  list-style-type: none;

}

.skills ul li {

  margin: 1rem;
  padding: 1rem;
  background-color: var(--color-4);

}

.icon {
 display: flex;
 align-items: center;
 width: 70%;
} */

.portfolio{
 
  border:  #02306425;
  border-style: solid;
    margin: 2rem;
    padding: 1rem;
  font-size: 2rem;
}

.portfolio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.btn {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  color: var(--color-3);
  background-color: #00163d62;
  width: 20rem;
 margin: 2rem auto;
 padding: 1rem;
 border-radius: 4rem;
}

.btn:hover {
  background-color: var(--color-6);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* add image background */
}

.contact ul {
  background-color: #6e9bc57a;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact ul li {
  margin-right: 1rem;
  font-size: 2.5rem;
  text-align: center;
  list-style-type: none;
}

.contact h3 {
  
  font-size: 3rem;
}

.footer {
  margin-top: 1rem;
text-align: center;
  font-size: 2rem;
  background-color: var(--color-3);
  width: 100%;
}

.footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer ul li{
 
list-style-type: none;
}

.footer ul li a {
  color: aliceblue;
}

.credit {
  color: aliceblue;
  font-size: small;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .nav-menu {
      position:absolute;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

}


@media only screen     
and (max-device-width : 820px)  
{ 
.hero {
  font-size: 5vw;
}
.h2-hero {
  font-size: 8vw;
}
.hero-p {
  font-size: 6vw;
}
.skills-container {
  display: flex;
  flex-direction: column;
}
.contact h2 {
margin-left: 2.4rem;
}
.contact h3 {
  margin-left: 2.4rem;
}
.contact ul {
  flex-direction: column;
}
#email {
  font-size: 2rem;
}
}  

@media only screen   
and (min-width: 1370px)  
and (max-width: 1605px)  
{
.hero-p {
  font-size: 4vw;
} 
.contact-hero {
  font-size: 13vw;
}
}